.mainDiv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ttl {
    font-size: 50px;
}
.txt {
    color: grey;
    font-size: 14px;
}

.uipDv {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}
.btnLgn {
    margin-top: 16px;
}