table {
    width: 50%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 1.3em;
    padding: 8px;
}
th {
    background-color: #E5E8E8 ;
}
.lftAln{
    text-align: left;
}
.cntAln {
    text-align: center;
}
  