.backdrop {

    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;
   
    background-color: rgba(0, 0, 0, 0.50);
}

.modal {
    width:30%;
    height:15%;

    position: fixed;
    top: 5%;
    left: 40%;

    background-color: white;
    
}